<h1> <%= @cat.name %> </h1>


<table>
  <tr>
    <td>Name:</td>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td><%= @cat.gender %></td>
  </tr>
</table>

<h3>Description</h3>
<%= @cat.description %>

<% unless @cat_rental_requests.empty? %>
  <h4>Existing Requests</h4>
  <ul>
    <% @cat_rental_requests.each do |request| %>
      <li><%="start date: #{request.start_date} "%><br><%="
        end date: #{request.end_date}  "%><br><%="
        status: #{request.status}" %><br>
        <% if request.pending? %>
          <%= button_to 'Approve Request',
            cat_rental_request_approve_url(request), method: :patch %><br>
          <%= button_to 'Deny Request',
            cat_rental_request_deny_url(request), method: :patch %><br>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Put in a request to rent a cat",
  new_cat_cat_rental_request_url(@cat) %>
